description: """\

In this project I explore designs to build pretty printed documents to
log and raise user messages with [pp].

I intend to produce something compatible with [logs], [pp] and design
choices made by [dune] for user messages.

This is very experimental and a work in progress.

[logs]: https://github.com/dbuenzli/logs
[pp]: https://github.com/ocaml-dune/pp
[dune]: https://github.com/ocaml/dune

"""
tags: [ "logs" "pp" ]
x-maintenance-intent: [ "(latest)" ]
