description: """\

[pplumbing] defines a set of utility libraries to use with [pp]. It
is compatible with [logs] and inspired by design choices used by
[dune] for user messages:

[Pplumbing_log] is an interface to [logs] using [Pp_tty] rather
than [Format].

[dune]: https://github.com/ocaml/dune
[logs]: https://github.com/dbuenzli/logs
[pp]: https://github.com/ocaml-dune/pp

"""
tags: [ "cli" "logs" "pp" ]
x-maintenance-intent: [ "(latest)" ]
